{% extends "base.html" %}

{% block title %}Add Course{% endblock title %}
{% block addcourse %}active{% endblock addcourse %}



{% block content %}
<script>
    function check_existing_courses(event) {
        let name = event.target.value.toLowerCase();
        let matchingDiv = document.querySelector("#matching-courses-div");
        matchingDiv.hidden = true;
        if (name.length < 3) {
            return;
        }

        let matches = [];

        for (let course of allCourses) {
            if (course.toLowerCase().includes(name)) {
                console.log(course, name);
                matches.push(course);
            }
        }
        let listDiv = document.querySelector("#matching-courses-list");
        listDiv.innerHTML = "";

        if (matches < 1) {
            return;
        }

        matchingDiv.hidden = false;

        for (let match of matches) {
            let p = document.createElement("p");
            p.innerText = " - " + match;
            listDiv.appendChild(p);
        }
    }
</script>

    <div class="card">
        <div class="card-body p-5">
            <p class="card-title fs-2 mb-3">Add Course</p>
            <form action="{{ url_for('home.add_course_submit') }}" method="POST">
                <div class="row">
                    <div class="col-sm mb-4">
                        <div id="matching-courses-div" class="text-danger" hidden>
                            <p class="fs-5">These course(s) have a matching name:</p>
                            <div id="matching-courses-list">

                            </div>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="name">Course Name</label>
                            <input class="form-control w-75" type="text" id="course_name" name="name" placeholder="Augusta" autocomplete="niklas" required>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="par">Teebox</label>
                            <input class="form-control w-50" type="text" id="teebox" name="teebox" placeholder="Gold" required>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="par">Par</label>
                            <input class="form-control w-50" type="number" id="par" name="par" placeholder="69" required>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="name">Rating</label>
                            <input class="form-control w-50" type="number" step=".1" id="rating" name="rating" placeholder="69.9" required>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="name">Slope</label>
                            <input class="form-control w-50" type="number" id="slope" name="slope" placeholder="115" required>
                        </div>

                    </div>
                    <div class="col-sm">
                        <label class="form-label" for="existing_courses">Existing Courses</label>
                        <ul name="existing_courses" class="list-group better-scroll" id="style-1" style="max-height: 400px;overflow-y: scroll;">
                            {% for course in courses %}
                                <li class="list-group-item">{{ str(course) }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mt-5">
                        <input class="btn btn-primary" type="submit" value="Add Course">
                    </div>
                </div>
            </form>
        </div>
    </div>

<script>
    document.getElementById("course_name").addEventListener("input", check_existing_courses);
    const allCourses = Array.from(document.querySelectorAll("ul[name='existing_courses'] > li"), x => x.innerText);
    console.log(allCourses);
</script>

{% endblock content %}