{% extends "base.html" %}

{% block title %}Add Course{% endblock title %}
{% block addcourse %}active{% endblock addcourse %}



{% block content %}

<div class="container py-5 h-100">
    <div class="card bg-light">
        <div class="card-body p-5">
            <p class="card-title fs-2 mb-3">Add Course</p>
            <form action="{{ url_for('home.add_course_submit') }}" method="POST">
                <div class="row">
                    <div class="col-sm mb-4">
                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="name">Course Name</label>
                            <input class="form-control w-75" type="text" id="paycheckName" name="name" placeholder="Augusta" autocomplete="niklas" required>
                        </div>

                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="par">Par</label>
                            <input class="form-control w-50" type="number" id="par" name="par" placeholder="69" required>
                        </div>

                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="name">Rating</label>
                            <input class="form-control w-50" type="number" step=".1" id="rating" name="rating" placeholder="69.9" required>
                        </div>

                        <div class="form-outline form-white mb-4">
                            <label class="form-label" for="name">Slope</label>
                            <input class="form-control w-50" type="number" id="slope" name="slope" placeholder="115" required>
                        </div>

                    </div>
                    <div class="col-sm">
                        <label class="form-label" for="existing_courses">Existing Courses</label>
                        <ul name="existing_courses" class="list-group better-scroll" id="style-1" style="max-height: 400px;overflow-y: scroll;">
                            {% for course in courses %}
                                <li class="list-group-item">{{ course.name }} {{ course.rating }}/{{ course.slope }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm mt-5">
                        <!-- <p id="name_error" class="text-danger display-none">Paycheck Name is invalid<br></p>
                        <p id="amount_error" class="text-danger display-none"><br></p> -->
                        <input class="btn btn-primary" type="submit" value="Add Course">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}s