<!DOCTYPE html>
<html lang="en" class="wa-{{ theme }}" data-fa-kit-code1="810ff8975b">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="manifest" href="/static/manifest.webmanifest" />

    <script
      src="https://kit.fontawesome.com/810ff8975b.js"
      crossorigin="anonymous"
    ></script>

    <!-- Shoelace components -->
    <link
      rel="stylesheet"
      href="https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/styles/themes/classic.css"
    />
    <link
      rel="stylesheet"
      href="https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/styles/webawesome.css"
    />
    <script
      type="module"
      src="https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/webawesome.loader.js"
    ></script>
    <script type="module">
      import { registerIconLibrary } from "https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/webawesome.loader.js";

      registerIconLibrary("ion", {
        resolver: (name) =>
          `https://cdn.jsdelivr.net/npm/ionicons@5.1.2/dist/ionicons/svg/${name}.svg`,
        mutator: (svg) => {
          svg.setAttribute("fill", "currentColor");
          svg.setAttribute("stroke", "currentColor");
          [...svg.querySelectorAll(".ionicon-fill-none")].map((el) =>
            el.setAttribute("fill", "none")
          );
          [...svg.querySelectorAll(".ionicon-stroke-width")].map((el) =>
            el.setAttribute("stroke-width", "32px")
          );
        },
      });
    </script>

    <link href="/static/css/main.css" rel="stylesheet" />
    <link href="/static/css/light.css" rel="stylesheet" />
    <link href="/static/css/dark.css" rel="stylesheet" />
    <link href="/static/css/output.css" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://early.webawesome.com/webawesome@3.0.0-alpha.13/dist/styles/native/dialog.css"
    />
    <link
      rel="icon"
      type="image/png"
      href="{% block icon %}/static/images/golf.png{% endblock icon %}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>{% block title %}{% endblock title %}</title>
    <script src="/static/js/fetch.js"></script>
    <script type="module" src="/static/js/nb-theme-selector.mjs"></script>
  </head>

  <script>
    const THEME_URL = "{{ url_for('theme_bp.set_theme') }}";
    const THEME = "{{ theme }}";
  </script>

  <body>
    <wa-page mobile-breakpoint="920"
      >{% include "navbar.html" %}
      <main class="wa-stack wa-align-items-center">
        <wa-dialog label="Add Round body" with-header
          ><form action="${ADD_ROUND_URL}" method="POST" class="wa-stack">
            <wa-select
              id="course"
              name="course"
              label="Select a course"
              @wa-input="${this.handleCourseSelect}"
              hoist
              required
            ></wa-select>
            <wa-select
              id="teebox"
              name="teebox"
              label="Select a teebox"
              hoist
              disabled
              required
            ></wa-select>
            <small>
              <span>Don't see the course you're looking for?</span>
              <a href="${ADD_COURSE_URL}">Add a course here</a>
            </small>
          </form></wa-dialog
        >
        {% block content %}{% endblock content %}
      </main></wa-page
    >

    <div class="container py-5 mb-5 h-100">
      {% with messages = get_flashed_messages(with_categories=true) %}
      <div id="alerts" class="container d-flex justify-content-center">
        {% if messages %} {% for category, message in messages %}
        <sl-alert variant="primary" duration="5000" open closable>
          {{ message }}
        </sl-alert>
        {% endfor %} {% endif %}
      </div>
      {% endwith %}
    </div>
  </body>
  <wa-dialog label="Add Round doc" with-header
    ><form action="${ADD_ROUND_URL}" method="POST" class="wa-stack">
      <wa-select
        id="course"
        name="course"
        label="Select a course"
        @wa-input="${this.handleCourseSelect}"
        hoist
        required
      ></wa-select>
      <wa-select
        id="teebox"
        name="teebox"
        label="Select a teebox"
        hoist
        disabled
        required
      ></wa-select>
      <small>
        <span>Don't see the course you're looking for?</span>
        <a href="${ADD_COURSE_URL}">Add a course here</a>
      </small>
    </form></wa-dialog
  >
</html>
