<!DOCTYPE html>
<html lang="en" class="wa-{{ theme.mode }} wa-cloak">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script>
      if (window.location.host === "nbgolfapp.up.railway.app") {
        window.location.assign("https://golf.niklasb.com");
      }
    </script>

    <link rel="manifest" href="/static/manifest.webmanifest" />

    <link href="/static/css/bundle.min.css" rel="stylesheet" />
    <link id="theme" rel="stylesheet" href="" />
    <link id="palette" rel="stylesheet" href="" />

    <link rel="icon" type="image/png" href="/static/images/golf.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>{% block title %}{% endblock title %}</title>
    <script type="module">
      import { Theme, THEME_LIST, COLOR_PALETTE_LIST } from "/static/js/theme.mjs";

      window.THEME = new Theme({{ theme|tojson }});
      let storedTheme = window.localStorage.getItem("theme");
      if (storedTheme === "dark" || storedTheme === "light") {
        window.THEME.migrateTheme(storedTheme);
      }
      console.log(window.THEME);
    </script>
    <script src="/static/js/nb-alert.mjs" type="module"></script>
    <script type="module" src="/static/js/nb-theme-selector.mjs"></script>
    <script src="/static/js/nb-login.mjs" type="module"></script>
    <script src="/static/js/nb-signup.mjs" type="module"></script>
    <script
      src="/static/js/nb-password-reset-request.mjs"
      type="module"
    ></script>
    <script src="/static/js/nb-reset-password.mjs" type="module"></script>
    <script src="/static/js/nb-profile.mjs" type="module"></script>
    <script src="/static/js/nb-preferences.mjs" type="module"></script>
    <script src="/static/js/bundle.mjs" type="module"></script>
  </head>

  <script>
    const LOGIN_URL = "{{ url_for('auth_bp.login') }}";
    const SIGNUP_URL = "{{ url_for('auth_bp.signup') }}";
    const PASSWORD_RESET_REQUEST_URL =
      "{{ url_for('auth_bp.password_request') }}";
    const PROFILE_URL = "{{ url_for('profile_bp.profile') }}";
    const USERNAME_UNIQUE_URL = "{{ url_for('auth_bp.username_unique') }}";
    const EMAIL_UNIQUE_URL = "{{ url_for('auth_bp.email_unique') }}";

    const SET_THEME_URL = "{{ url_for('theme_bp.set_theme') }}";
    const SET_THEME_MODE_URL = "{{ url_for('theme_bp.set_theme_mode') }}";
    const SET_PRIMARY_COLOR_URL = "{{ url_for('theme_bp.set_primary_color') }}";
    const SET_COLOR_CONTRAST_URL =
      "{{ url_for('theme_bp.set_color_contrast') }}";
    const SET_COLOR_PALETTE_URL = "{{ url_for('theme_bp.set_color_palette') }}";

    const ADD_ROUND_URL = "{{ url_for('viewplayer_bp.add_round_submit') }}";
    const ADD_COURSE_URL = "{{ url_for('addcourse_bp.add_course') }}";

    {% if current_user.is_authenticated %}
      const CURRENT_USER = {{ current_user.to_dict()|tojson }};
    {% else %}
      const CURRENT_USER = {};
    {% endif %}
  </script>

  <script
    src="https://js.sentry-cdn.com/e3e4d3de1909a9da2e12895218ad490d.min.js"
    crossorigin="anonymous"
    defer
  >
    if (window.Sentry) {
        Sentry.onLoad(function () {
          Sentry.init({
            release: "nbgolf@1.1.8",
            environment: "production",
            replaysSessionSampleRate: 0,
            replaysOnErrorSampleRate: 1.0,
          });
        });
      }
  </script>

  <body>
    <wa-page mobile-breakpoint="920"
      >{% include "navbar.html" %}
      <main class="wa-stack wa-align-items-center">
        <div id="content" class="container">
          {% block content %}{% endblock content %}
        </div>
      </main></wa-page
    >

    <div class="">
      {% with messages = get_flashed_messages(with_categories=true) %}
      <div id="alerts" class="">
        {% if messages %} {% for category, message in messages %}
        <nb-alert category="{{ category }}" message="{{ message }}"></nb-alert>
        {% endfor %} {% endif %}
      </div>
      {% endwith %}
    </div>
  </body>
</html>
