{% extends "base.html" %} {% block title %}Course Ranking{% endblock title %} {%
block content %}
<script src="https://cdn.jsdelivr.net/npm/ag-grid-community@33.3.2/dist/ag-grid-community.min.js"></script>
<script>
  const ADD_COURSE_RATING_URL = "{{ url_for('courseranking_bp.add_course_rating') }}";
  const IS_ME = "{{ is_me }}" === "True";
  const USER = {{ user|tojson }};
  const COURSES = {{ courses|tojson }};
  const RATINGS = {{ course_rankings|tojson }};
</script>

<nb-view-course-rating
  ratings='{{ course_rankings|tojson }}'
  courses='{{ courses|tojson }}'
></nb-view-course-rating>

<script src="/static/js/nb-view-course-rating.mjs" type="module"></script>

{% endblock content %}
