{% extends "base.html" %}

{% block title %}All Course Rankings{% endblock title %}
{% block courserankings %}active{% endblock courserankings %}


{% block content %}
<script src="https://cdn.jsdelivr.net/npm/ag-grid-community@31.0.3/dist/ag-grid-community.min.js"></script>
<script>
  const COURSE_RANKING_USER_URL = "{{ url_for('courseranking_bp.course_ranking', user_id=0) }}";
  const COURSE_RANKINGS_ARRAY = {{ course_rankings|tojson }};
</script>

<div class="row mb-5">
  <div class="fs-1 text-center">Average course rankings</div>
</div>

<div class="d-flex justify-content-center">
  <div id="rankingsGrid" style="width: 100%;height: 900px;" class="{% if theme == 'dark' %}ag-theme-quartz-dark{% else %}ag-theme-quartz{% endif %}"></div>
</div>

<script src="/static/js/courseRankings.mjs" type="module"></script>

{% endblock content %}