{% extends "base.html" %}

{% block title %}Edit Courses{% endblock title %}



{% block content %}
<script>
  const DELETE_COURSE_URL = "{{ url_for('admin_bp.delete_course', c_id=0) }}";
  const DELETE_TEEBOX_URL = "{{ url_for('admin_bp.delete_teebox', t_id=0) }}";
  async function delete_course(c_id) {
    const url = DELETE_COURSE_URL.replace("0", "");
    let response = await fetch(url + c_id, {
      method: "DELETE",
    });
    response = await response.json();
    console.log(response);
    if (response.success) {
      window.location.reload();
    } else {
      window.alert(response.info)
    }
  }

  async function delete_teebox(t_id) {
    const url = DELETE_TEEBOX_URL.replace("0", "");
    let response = await fetch(url + t_id, {
      method: "DELETE",
    });
    response = await response.json();
    if (response.success) {
      window.location.reload();
    } else {
      window.alert(response.info)
    }
  }
</script>

    <sl-card>
      <div slot="header">De-duplicate courses</div>
      <form action="{{ url_for('admin_bp.dedup_course') }}" method="POST">
        <div class="row mb-3">
          <div class="col">
            <sl-select label="Duplicate course" name="duplicate">
              {% for course in courses %}
                <sl-option value="{{ course.id }}">{{ course.name }}</sl-option>
              {% endfor %}
            </sl-select>
          </div>
          <div class="col">
            <sl-select label="Keep this course" name="keep">
              {% for course in courses %}
                <sl-option value="{{ course.id }}">{{ course.name }}</sl-option>
              {% endfor %}
            </sl-select>
          </div>
        </div>
        <sl-button variant="danger" type="submit">Deduplicate course</sl-button>
      </form>
    </sl-card>
    <div class="card">
        <div class="card-body p-5">
            <p class="card-title fs-2 mb-3">Edit Courses</p>

            <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Teeboxes</th>
                          <th></th>
                          <th></th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for course in courses %}
                      <tr>
                        <td>
                          <form id="course{{ course.id }}" action="{{ url_for('admin_bp.edit_course', c_id=course.id) }}" method="POST">
                            <input class="form-control" type="text" name="name" value="{{ course.name }}" required>
                          </form>
                        </td>
                        <td>
                          <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Teebox</th>
                                <th scope="col">Par</th>
                                <th scope="col">Slope</th>
                                <th scope="col">Rating</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for teebox in course.teeboxes %}
                                <tr>
                                  <form id="teebox{{ teebox.id }}" action="{{ url_for('admin_bp.edit_teebox', t_id=teebox.id) }}" method="POST">
                                    <td>
                                      <input class="form-control" name="teebox" type="text" value="{{ teebox.teebox }}" required>
                                    </td>
                                    <td>
                                      <input class="form-control" step="1" name="par" type="number" value="{{ teebox.par }}" required>
                                    </td>
                                    <td>
                                      <input class="form-control" step="1" name="slope" type="number" value="{{ teebox.slope }}" required>
                                    </td>
                                    <td>
                                      <input class="form-control" step="0.1" name="rating" type="number" value="{{ teebox.rating }}" required>
                                    </td>
                                    <td>
                                      <div class="row g-2">
                                        <button class="form-control btn btn-outline-primary" type="submit" form="teebox{{ teebox.id }}">Update</button>
                                        <button class="form-control btn btn-outline-danger" type="button" onclick="delete_teebox('{{ teebox.id }}')">Delete</button>
                                      </div>
                                    </td>
                                  </form>
                                </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </td>
                        <td>
                          <div class="row g-2">
                            <button class="form-control btn btn-primary" type="submit" form="course{{ course.id }}">Update</button>
                            <button class="form-control btn btn-danger" type="button" onclick="delete_course('{{ course.id }}')">Delete</button>
                          </div>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
          </div>
        </div>
    </div>
{% endblock content %}