{% extends "base.html" %}

{% block title %}Edit Courses{% endblock title %}



{% block content %}
<script>
  const DELETE_URL = "{{ url_for('home.delete_course', c_id=0) }}";
  async function delete_course(c_id) {
    const url = DELETE_URL.replace("0", "");
    console.log(url + c_id);
    let response = await fetch(url + c_id, {
      method: "DELETE",
    });
    response = await response.json();
    console.log(response);
    window.location.reload();
  }
</script>
    <div class="card">
        <div class="card-body p-5">
            <p class="card-title fs-2 mb-3">Edit Courses</p>

            <div class="table-responsive">
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Teebox</th>
                          <th scope="col">Par</th>
                          <th scope="col">Slope</th>
                          <th scope="col">Rating</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for course in courses %}
                      <tr>
                        <form action="{{ url_for('home.edit_course', c_id=course.id) }}" method="POST">
                            <td>
                              <input class="form-control" type="text" name="name" value="{{ course.name }}" required>
                            </td>
                            <td>
                              <input class="form-control" type="text" name="teebox" value="{{ course.teebox }}" required>
                            </td>
                            <td>
                              <input class="form-control" type="number" name="par" value="{{ course.par }}" required>
                            </td>
                            <td>
                              <input class="form-control" type="number" step=".1" name="slope" value="{{ course.slope }}" required>
                            </td>
                            <td>
                              <input class="form-control" type="number" step=".1" name="rating" value="{{ course.rating }}" required>
                            </td>
                            <td>
                              <input class="form-control" type="submit" value="Update">
                            </td>
                            <td>
                              <button class="form-control" type="button" onclick="delete_course('{{ course.id }}')">Delete</button>
                            </td>
                        </form>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>
          </div>
        </div>
    </div>
{% endblock content %}