{% extends "base.html" %} {% block title %}Home{% endblock title %} {% block
hijack %}active{% endblock hijack %} {% block content %}

<script>
  const ADD_ROUND_FOR_USER = "{{ url_for('admin_bp.add_round_for_user') }}";
  const COURSES = {{ courses|tojson }};
</script>
<script src="/static/js/nb-add-round-for-user.mjs" type="module"></script>

<h2>Hijack Handicap</h2>

<nb-add-round-for-user users='{{ users|tojson }}'></nb-add-round-for-user>
<wa-button variant="brand" id="add-round-for-user"
  >Add Round For User</wa-button
>

<div class="">
  <div class="">
    <div class="">
      <table class="">
        <thead>
          <tr>
            <th scope="col">Player</th>
            <th scope="col">Handicap</th>
            <th scope="col">Hijack</th>
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <form action="{{ url_for('admin_bp.hijack') }}" method="POST">
              <input type="text" name="user_id" value="{{ user.id }}" hidden />
              <td class="name">{{ user.username }}</td>
              <td class="handicap">
                <input
                  class=""
                  type="number"
                  name="handicap"
                  step=".01"
                  value="{{ user.handicap.handicap }}"
                />
              </td>
              <td class="hijack">
                <input class="" type="submit" value="Hijack" />
              </td>
            </form>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  document
    .getElementById("add-round-for-user")
    .addEventListener("click", () => {
      document.querySelector("nb-add-round-for-user").show();
    });
</script>

{% endblock content %}
