{% extends "base.html" %}

{% block title %}Home{% endblock title %}
{% block home %}w3-text-blue{% endblock home %}



{% block content %}


    <div class="w3-cell-row w3-padding-32">
        <div class="w3-container">
            <br><br><br><br>
            <h1>Welcome</h1>
        </div>
        
    </div>


    <div class="w3-cell-row w3-padding-32 content">
        <div class="w3-container w3-cell" style="width:15%"></div>
            <div class="w3-container">
                <table class="w3-table w3-striped w3-bordered w3-border">
                    <tr>
                        <th class="w3-center">Name</th><th class="w3-center">Handicap</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td class="w3-center"><p style="padding:0;">{{ user.name }}</p></td>
                            <td class="w3-center"><p style="padding:0;">{{ user.handicap }}</p></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        <div class="w3-container w3-cell" style="width:15%"></div>
        </div>

{% endblock content %}s