<header slot="header">
  <div class="wa-split">
    <div class="wa-cluster">
      <wa-icon-button
        library="ion"
        name="menu-outline"
        label="Menu"
        data-toggle-nav
      ></wa-icon-button>
      <a class="wa-heading-l" href="/">NB Golf</a>
      <a
        class="wa-desktop-only wa-heading-m"
        href="{{ url_for('courseranking_bp.course_rankings') }}"
        >Course Rankings</a
      >
      <a
        class="wa-desktop-only wa-heading-m"
        href="{{ url_for('strokes_bp.calculate_strokes') }}"
        >Calculate Strokes</a
      >
      <a
        class="wa-desktop-only wa-heading-m"
        href="{{ url_for('viewplayers_bp.view_players') }}"
        >View Players</a
      >
    </div>
    <div class="wa-cluster wa-desktop-only">
      <nb-theme-selector></nb-theme-selector>
      {% if current_user.is_authenticated %}
      <wa-dropdown
        ><wa-button id="user-button" appearance="plain" slot="trigger" caret
          >{{ current_user.username }}</wa-button
        ><wa-menu id="user-dropdown-selector">
          {% if current_user.is_authenticated and current_user.id == 3 or
          current_user.id == 11 %}<wa-menu-item
            ><a href="{{ url_for('admin_bp.hijack') }}"
              >Hijack Handicap</a
            ></wa-menu-item
          ><wa-menu-item
            ><a href="{{ url_for('admin_bp.edit_courses') }}"
              >Edit Courses</a
            ></wa-menu-item
          ><wa-menu-item
            ><a href="{{ url_for('admin_bp.subscribers') }}"
              >Subscribers</a
            ></wa-menu-item
          >{% endif %}
          <wa-menu-item
            ><a href="{{ url_for('profile_bp.profile') }}"
              >Profile</a
            ></wa-menu-item
          ><wa-menu-item
            ><a href="{{ url_for('auth_bp.logout') }}">Logout</a></wa-menu-item
          >
        </wa-menu></wa-dropdown
      >
      {% else %}
      <a href="{{ url_for('auth_bp.login') }}">Login</a>
      {% endif %}
    </div>
  </div>
</header>
<nav slot="navigation" class="wa-mobile-only">
  <a class="wa-heading-l" href="">NB Golf</a>
  <a
    class="wa-heading-m"
    href="{{ url_for('courseranking_bp.course_rankings') }}"
    >Course Rankings</a
  >
  <a class="wa-heading-m" href="{{ url_for('strokes_bp.calculate_strokes') }}"
    >Calculate Strokes</a
  >
  <a class="wa-heading-m" href="{{ url_for('viewplayers_bp.view_players') }}"
    >View Players</a
  >

  <nb-theme-selector></nb-theme-selector>
  {% if current_user.is_authenticated %}
  <wa-dropdown
    ><wa-button id="user-button" appearance="plain" slot="trigger" caret
      >{{ current_user.username }}</wa-button
    ><wa-menu id="user-dropdown-selector">
      {% if current_user.is_authenticated and current_user.id == 3 or
      current_user.id == 11 %}<wa-menu-item
        ><a href="{{ url_for('admin_bp.hijack') }}"
          >Hijack Handicap</a
        ></wa-menu-item
      ><wa-menu-item
        ><a href="{{ url_for('admin_bp.edit_courses') }}"
          >Edit Courses</a
        ></wa-menu-item
      ><wa-menu-item
        ><a href="{{ url_for('admin_bp.subscribers') }}"
          >Subscribers</a
        ></wa-menu-item
      >{% endif %}
      <wa-menu-item
        ><a href="{{ url_for('profile_bp.profile') }}">Profile</a></wa-menu-item
      ><wa-menu-item
        ><a href="{{ url_for('auth_bp.logout') }}">Logout</a></wa-menu-item
      >
    </wa-menu></wa-dropdown
  >
  {% else %}
  <a href="{{ url_for('auth_bp.login') }}">Login</a>
  {% endif %}
</nav>
