<header slot="header" class="flex justify-center">
  <div class="container">
    <div class="wa-split">
      <div class="wa-cluster">
        <a class="wa-heading-l" href="/">NB Golf</a>
        <a
          class="wa-desktop-only wa-heading-m"
          href="{{ url_for('courseranking_bp.course_rankings') }}"
          >Course Ratings</a
        >
        <a
          class="wa-desktop-only wa-heading-m"
          href="{{ url_for('strokes_bp.calculate_strokes') }}"
          >Calculate Strokes</a
        >
        <a
          class="wa-desktop-only wa-heading-m"
          href="{{ url_for('viewplayers_bp.view_players') }}"
          >View Players</a
        >
      </div>

      <div class="wa-cluster">
        <div class="wa-cluster wa-desktop-only">
          <nb-theme-selector></nb-theme-selector>
          {% if current_user.is_authenticated %}
          <wa-dropdown
            ><wa-button
              id="user-button"
              appearance="plain"
              slot="trigger"
              with-caret
              >{{ current_user.username }}</wa-button
            >
            {% if current_user.is_admin %}
            <wa-dropdown-item
              ><a
                href="{{ url_for('admin_bp.hijack') }}"
                class="inline-block w-full"
                >Hijack Handicap</a
              ></wa-dropdown-item
            ><wa-dropdown-item
              ><a
                href="{{ url_for('admin_bp.edit_courses') }}"
                class="inline-block w-full"
                >Edit Courses</a
              ></wa-dropdown-item
            ><wa-dropdown-item
              ><a
                href="{{ url_for('admin_bp.subscribers') }}"
                class="inline-block w-full"
                >Subscribers</a
              ></wa-dropdown-item
            >
            <wa-divider></wa-divider>
            {% endif %}
            <wa-dropdown-item
              ><a
                href="{{ url_for('preferences_bp.preferences') }}"
                class="inline-block w-full"
                >Preferences</a
              ></wa-dropdown-item
            ><wa-dropdown-item
              ><a
                href="{{ url_for('profile_bp.profile') }}"
                class="inline-block w-full"
                >Profile</a
              ></wa-dropdown-item
            ><wa-dropdown-item
              ><a
                href="{{ url_for('auth_bp.logout') }}"
                class="inline-block w-full"
                >Logout</a
              ></wa-dropdown-item
            >
          </wa-dropdown>
          {% else %}
          <a href="{{ url_for('auth_bp.login') }}">Login</a>
          {% endif %}
        </div>

        <wa-button data-toggle-nav appearance="plain"
          ><wa-icon library="ion" name="menu-outline" label="Menu"></wa-icon
        ></wa-button>
      </div>
    </div>
  </div>
</header>
<nav slot="navigation" class="wa-mobile-only">
  <a class="wa-heading-l" href="/">NB Golf</a>
  <a
    class="wa-heading-m"
    href="{{ url_for('courseranking_bp.course_rankings') }}"
    >Course Ratings</a
  >
  <a class="wa-heading-m" href="{{ url_for('strokes_bp.calculate_strokes') }}"
    >Calculate Strokes</a
  >
  <a class="wa-heading-m" href="{{ url_for('viewplayers_bp.view_players') }}"
    >View Players</a
  >

  <nb-theme-selector></nb-theme-selector>
  {% if current_user.is_authenticated %}
  <wa-dropdown
    ><wa-button id="user-button" appearance="plain" slot="trigger" with-caret
      >{{ current_user.username }}</wa-button
    >
    {% if current_user.is_admin %}
    <wa-dropdown-item
      ><a href="{{ url_for('admin_bp.hijack') }}" class="inline-block w-full"
        >Hijack Handicap</a
      ></wa-dropdown-item
    ><wa-dropdown-item
      ><a
        href="{{ url_for('admin_bp.edit_courses') }}"
        class="inline-block w-full"
        >Edit Courses</a
      ></wa-dropdown-item
    ><wa-dropdown-item
      ><a
        href="{{ url_for('admin_bp.subscribers') }}"
        class="inline-block w-full"
        >Subscribers</a
      ></wa-dropdown-item
    >
    <wa-divider></wa-divider>
    {% endif %}
    <wa-dropdown-item
      ><a
        href="{{ url_for('preferences_bp.preferences') }}"
        class="inline-block w-full"
        >Preferences</a
      ></wa-dropdown-item
    ><wa-dropdown-item
      ><a href="{{ url_for('profile_bp.profile') }}" class="inline-block w-full"
        >Profile</a
      ></wa-dropdown-item
    ><wa-dropdown-item
      ><a href="{{ url_for('auth_bp.logout') }}" class="inline-block w-full"
        >Logout</a
      ></wa-dropdown-item
    >
  </wa-dropdown>
  {% else %}
  <a href="{{ url_for('auth_bp.login') }}">Login</a>
  {% endif %}
</nav>
