{% extends "base.html" %}


{% block title %}Password Reset{% endblock title %}


{% block content %}
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card">
                <div class="card-header px-3">
                    <div class="fs-4">
                        Reset Password
                    </div>
                </div>
                <div class="card-body px-5 pb-5">
                    <form action="" method="POST">
                        <div class="mb-4">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="password1">Password</label>
                                <input class="form-control" type="password" id="password1" name="password1" placeholder="Password" required>
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="password2">Confirm Password</label>
                                <input class="form-control" type="password" id="password2" name="password2" placeholder="Password" required>
                                <div class="invalid-feedback">
                                    Password does not match
                                </div>
                            </div>

                            <button class="btn btn-primary w-100" type="submit">Reset password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/js/checkPassword.js"></script>
{% endblock content %}