{% extends "base.html" %}

{% block title %}Password Reset Request{% endblock title %}



{% block content %}


    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-light">
                    <div class="card-header px-3">
                        <div class="fs-4">
                            Reset Password Request
                        </div>
                    </div>
                    <div class="card-body px-5 pb-5">
                        <form action="" method="POST">
                            <div class="mb-4">
                                <div class="form-outline form-white mb-4">
                                    <label class="form-label" for="email">Email</label>
                                    <input class="form-control" type="email" id="email" name="email" placeholder="Your email" required>
                                </div>
                                <div class="form-outline form-white">
                                    <input class="btn btn-outline-primary" type="submit" value="Send me password reset email">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}