{% extends "base.html" %}


{% block title %}Password Reset Request{% endblock title %}


{% block content %}
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <sl-card>
                <div class="fs-4" slot="header">
                    Reset Password Request
                </div>
                <div class="mb-2">
                    <form action="" method="POST">
                        <div class="nb-row">
                            <sl-input type="email" name="email" label="Email" placeholder="Your email" required></sl-input>
                            <sl-button type="submit" variant="primary">Send me password reset email</sl-button>
                        </div>
                    </form>
                </div>
            </sl-card>
        </div>
    </div>
{% endblock content %}