{% extends "base.html" %}


{% block title %}Password Reset{% endblock title %}


{% block content %}
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <sl-card>
                <div class="fs-4" slot="header">
                    Reset Password
                </div>
                <div class="mb-2">
                    <form action="" method="POST">
                        <div class="nb-row">
                            <sl-input type="password" label="Password" id="password1" name="password1" placeholder="Password" required></sl-input>
                            <sl-input type="password" label="Confirm Password" id="password2" name="password2" placeholder="Password" required></sl-input>
                            <sl-button class="w-100" type="submit" variant="primary">Reset password</sl-button>
                        </div>
                    </form>
                </div>
            </sl-card>
        </div>
    </div>

    <script src="/static/js/checkPassword.js"></script>
{% endblock content %}