{% extends "base.html" %}

{% block title %}Profile{% endblock title %}
{% block profile %}active{% endblock profile %}


{% block content %}
    <script>
        const USERNAME_UNIQUE_URL = "{{ url_for('auth_bp.username_unique') }}";
        const EMAIL_UNIQUE_URL = "{{ url_for('auth_bp.email_unique') }}";
    </script>

    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <sl-card>
                <div class="fs-4" slot="header">
                    Account Details
                </div>
                <div class="mb-2">
                    <form action="{{ url_for('profile_bp.profile') }}" method="POST" autocomplete="off">
                        <div class="nb-row">
                            <sl-input value="{{ username }}" original-value="{{ username }}" label="Username" id="username" name="username" required></sl-input>
                            <sl-input value="{{ email }}" original-value="{{ email }}" type="email" label="Email" id="email" name="email" required></sl-input>
                            <sl-button id="submitButton" class="w-100" variant="primary" type="submit" disabled>Update</sl-button>
                            <p class="small"><a href="{{ url_for('auth_bp.password_request') }}">Reset password</a></p>
                        </div>
                    </form>
                </div>
            </sl-card>
        </div>
    </div>

    <script src="/static/js/checkUserUnique.js"></script>
{% endblock content %}