{% extends "base.html" %}

{% block title %}Sign Up{% endblock title %}


{% block content %}
    <script>
        const USERNAME_UNIQUE_URL = "{{ url_for('auth.username_unique') }}";
        const EMAIL_UNIQUE_URL = "{{ url_for('auth.email_unique') }}";
    </script>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="container d-flex justify-content-center">
                {% for category, message in messages %}
                    <div class="alert alert-absolute alert-dismissible {{ category }} fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            </div>

        {% endif %}
    {% endwith %}

    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card">
                <div class="card-header px-3">
                    <div class="fs-4">
                        Sign up
                    </div>
                    <div class="">
                        Please enter your email, a username, and a password
                    </div>
                </div>
                <div class="card-body px-5 pb-5">

                <form action="{{ url_for('auth.signup') }}" method="POST">
                    <div class="mb-4">
                        <div class="form-outline mb-4">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" placeholder="Your email" {% if email %}value="{{ email }}"{% endif %} required>
                            <div class="invalid-feedback">
                                Email taken. Please choose a different email.
                            </div>
                        </div>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="fname">Username</label>
                            <input class="form-control" type="text" id="username" name="username" placeholder="Your username" required>
                            <div class="invalid-feedback">
                                Username taken. Please choose a different username.
                            </div>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="password1">Password</label>
                            <input class="form-control" type="password" id="password1" name="password1" placeholder="Password" required>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="password2">Password Again</label>
                            <input class="form-control" type="password" id="password2" name="password2" placeholder="Password" required>
                            <div class="invalid-feedback">
                                Password does not match
                            </div>
                        </div>

                        <button class="btn btn-primary w-100" type="submit">Sign up</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>


    <script src="/static/js/checkUserUnique.js"></script>
    <script src="/static/js/checkPassword.js"></script>
{% endblock content %}
