{% extends "base.html" %}

{% block title %}Stats{% endblock title %}


{% block content %}

<script>
  const LINE_GRAPH_DATA = {{ line_graph_data|tojson }};
</script>

<div class="container-fluid">
  <div class="container pb-5">
    <div class="row fs-2 mb-5">
      <div class="col-4 text-start">
        Your handicap is {{ handicap.handicap }}
      </div>
      <div class="col-4 text-center">
        Your averagecap is {{ averagecap }}
      </div>
      <div class="col-4 text-end">
        Your anticap is {{ anticap }}
      </div>
    </div>
    <div class="row">
      <canvas id="handicap-graph"></canvas>
    </div>
  </div>
</div>

<script src="/static/js/stats.mjs" type="module"></script>

{% endblock content %}