{% extends "base.html" %}

{% block title %}Strokes{% endblock title %}
{% block strokes %}active{% endblock strokes %}



{% block content %}
    {% if courses %}
        <script>
            const COURSES = {{ courses|tojson }};
        </script>
    {% endif %}
    <script src="/static/js/createElement.js"></script>

    <div class="card">
        <div class="card-body p-5">
            <p class="card-title fs-2 mb-3">Strokes</p>
            {% if strokes %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Number of strokes for {{ course }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in strokes %}
                                <tr>
                                    <td>{{ user[0] }}</td>
                                    <td>{{ user[1] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <form action="{{ url_for('home.calculate_strokes') }}" method="POST">
                    <div class="row">
                        <div class="col-sm mb-4">
                            <fieldset class="border p-4">
                                <label class="form-label" for="players">Select players:</label>
                                {% for user in users %}
                                    <div class="form-check" id="players">
                                        <input class="form-check-input" type="checkbox" name="players" value="{{ user.id }}" id="user{{ user.id }}">
                                        <label class="form-check-label" for="user{{ user.id }}">
                                            {{ user.username }} - {% if user.is_visible %}{{ user.handicap }}{% else %} hidden {% endif %}
                                        </label>
                                    </div>
                                {% endfor %}
                            </fieldset>

                        </div>
                        <div class="col-sm">
                            <div class="row gy-2">
                                <div class="col-12">
                                    <label class="form-label" for="course">Choose a course:</label>
                                    <select name="course" id="course" class="form-select">
                                        <option value="" selected disabled hidden>Select course</option>
                                    </select>
                                </div>
                                <div class="col-12">
                                    <select name="teebox" id="teebox" class="form-select" hidden></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm mt-5">
                            <input class="btn btn-primary" type="submit" value="Calculate strokes">
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>

    <script>
        let coursesArray = [];
        for (let [id, course] of Object.entries(COURSES)) {
            coursesArray.push(course);
        }

        coursesArray.sort((a, b) => { return a.name.localeCompare(b.name); });

        let selectCourse = document.getElementById("course");
        console.log(selectCourse);

        if (selectCourse) {
            selectCourse.addEventListener("input", onCourseSelect);

            for (let course of coursesArray) {
                let courseOption = createElement({
                    type: "option",
                    value: course.id,
                    content: course.name, //`${course.name} - ${course.teebox} (${course.rating} / ${course.slope})`
                });
                selectCourse.appendChild(courseOption);
            }
        }

        function createTeeboxElements(teeboxes) {
            let teeboxSelect = document.getElementById("teebox");
            let children = teeboxSelect.children;
            for (let i = children.length; i > 0; i--) {
                let child = children[i - 1];
                child.remove();
            }
            teeboxSelect.hidden = false;

            let teeboxesArr = Object.entries(teeboxes);

            if (teeboxesArr.length > 1) {
                let defaultOption = createElement({
                    type: "option",
                    value: "",
                    content: "Select teebox",
                    hidden: true,
                    disabled: true,
                    selected: true,
                });
                teeboxSelect.appendChild(defaultOption);
            }

            for (let [id, teebox] of teeboxesArr) {
                let option = createElement({
                    type: "option",
                    value: teebox.id,
                    content: `${teebox.teebox} (${teebox.rating} / ${teebox.slope})`
                });
                teeboxSelect.appendChild(option);
            }

            console.log(teeboxes);
        }

        function onCourseSelect(event) {
            console.log(event);
            let courseId = event.target.value;
            let teeboxes = COURSES[courseId].teeboxes;
            createTeeboxElements(teeboxes);
        }
    </script>
{% endblock content %}s