{% extends "base.html" %}

{% block title %}Strokes{% endblock title %}
{% block strokes %}active{% endblock strokes %}



{% block content %}


<div class="container py-5 h-100">
    <div class="card bg-light">
        <div class="card-body p-5">
            <p class="card-title fs-2 mb-3">Strokes</p>
            {% if strokes %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Number of strokes for {{ course }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in strokes %}
                                <tr>
                                    <td>{{ user[0] }}</td>
                                    <td>{{ user[1] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <form action="{{ url_for('home.calculate_strokes') }}" method="POST">
                    <div class="row">
                        <div class="col-sm mb-4">
                            <fieldset class="border p-4">
                                <label class="form-label" for="players">Select players:</label>
                                {% for user in users %}
                                    <div class="form-check" id="players">
                                        <input class="form-check-input" type="checkbox" name="players" value="{{ user.id }}" id="user{{ user.id }}">
                                        <label class="form-check-label" for="user{{ user.id }}">
                                            {{ user.name }} - {% if user.is_visible %}{{ user.handicap }}{% else %} hidden {% endif %}
                                        </label>
                                    </div>
                                {% endfor %}
                            </fieldset>

                        </div>
                        <div class="col-sm">
                            <label class="form-label" for="course">Choose a course:</label>
                            <select name="course" id="course" class="form-select" aria-label="Default select example">
                                {% for course in courses %}
                                    <option value="{{ course.id }}">{{ course.name }} {{ course.rating }}/{{ course.slope }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm mt-5">
                            <!-- <p id="name_error" class="text-danger display-none">Paycheck Name is invalid<br></p>
                            <p id="amount_error" class="text-danger display-none"><br></p> -->
                            <input class="btn btn-outline-primary" type="submit" value="Calculate strokes">
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}s