{% extends "base.html" %}

{% block title %}View Rounds{% endblock title %}
{% block home %}active{% endblock home %}


{% block content %}
<script>
    const GET_PAGE_URL = "{{ url_for('home.get_page', id=user.id) }}";
    const DELETE_ROUND_URL = "{{ url_for('home.delete_round', id=0) }}".slice(0, -1);
    const VIEW_PLAYER_URL = "{{ url_for('home.view_player', id=0) }}".slice(0, -1);
    const COURSES = {{ courses|tojson }};
    const TEEBOXES = {};
</script>
<script src="/static/js/createElement.js"></script>
<script src="/static/js/pagination.js"></script>
<script src="/static/js/round.js"></script>
<script>
    const IS_ME = "{{ is_me }}" === "True";
    const TOTAL_ROUNDS = {{ total }};
    const CURRENT_PAGE = {{ page }};
    const NUM_PAGES = {{ num_pages }};

    const parser = new DOMParser();
    const roundsArray = [];
    const roundsPy = {{ rounds|tojson }};
    for (let r of roundsPy) {
        let round = new Round(...r);
        roundsArray.push(round);
    }
</script>
<script>
    const TOGGLE_VISIBILITY_URL = "{{ url_for('home.toggle_user_visibilty') }}";
    function deleteRoundClick(id) {
        document.getElementById(`delete_id${id}`).style.display = 'block';
    }
    function toggleHidden(eles) {
        for (let ele of eles) {
            ele.hidden = !ele.hidden;
        }
    }
    function toggleEditElements(id) {
        let editEles = document.querySelectorAll(`.show-edit-${id}`);
        toggleHidden(editEles);
        let nonEditEles = document.querySelectorAll(`.show-not-edit-${id}`);
        toggleHidden(nonEditEles);
    }
    function cancelEditRound(id) {
        toggleEditElements(id);
    }
    function editRound(id) {
        toggleEditElements(id);
    }
</script>

<div class="container-fluid">
    <div class="container pb-5">
        <div class="fw-bold fs-1">
            {% if is_me %}
                Your handicap is {{ handicap }}
            {% else %}
                {{ user.username }}'s handicap is {{ handicap }}
            {% endif %}
        </div>
        <div class="row">
            {% if is_me %}
                <a href="{{ url_for('home.stats') }}">View more stats</a>
                <a href="{{ url_for('home.course_ranking', user_id=user.id) }}">View my course ranking</a>
            {% else %}
                <a href="{{ url_for('home.course_ranking', user_id=user.id) }}">View course ranking</a>
            {% endif %}
        </div>
        <!-- <div class="m-2">
            Show your handicap on the <a href="{{ url_for('home.view_players') }}">View Players</a> page?
            <div class="form-check form-switch ms-3" style="display:inline-block;">
                <input class="form-check-input" type="checkbox" id="showHandicapToggle" {% if is_visible %}checked{% endif %}>
                <label class="form-check-label" for="showHandicapToggle"></label>
            </div>
        </div> -->
    </div>
</div>
<div class="container-fluid mb-5">
    <div class="container">
        <div class="table-mobile">
            <table class="table table-striped-even">
                <thead>
                    <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Score / Par</th>
                        <th scope="col" class="w-80p text-center">FIR</th>
                        <th scope="col" class="w-80p text-center">GIR</th>
                        <th scope="col" class="w-80p text-center">Putts</th>
                        <th scope="col" class="text-center">Date</th>
                        {% if is_me %}
                            <th scope="col"></th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% if is_me %}
                        <tr>
                            <form action="{{ url_for('home.add_round_submit') }}" method="POST">
                                <td>
                                    <div class="row gy-2">
                                        <div class="col-12 col-xxl-7">
                                            <select name="course" id="course" class="form-select">
                                                <option value="" selected disabled hidden>Select course</option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-xxl-5">
                                            <select name="teebox" id="teebox" class="form-select" hidden></select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <input class="form-control w-80p" type="number" name="score" placeholder="Score"
                                        required>
                                </td>
                                <td>
                                    <input class="form-control w-80p" type="number" name="fir" placeholder="FIR">
                                </td>
                                <td>
                                    <input class="form-control w-80p" type="number" name="gir" placeholder="GIR">
                                </td>
                                <td>
                                    <input class="form-control w-80p" type="number" name="putts" placeholder="Putts">
                                </td>
                                <td>
                                    <input class="form-control" type="date" id="date" name="date" placeholder="">
                                </td>
                                <td>
                                    <input class="btn btn-primary" type="submit" value="Add Round">
                                </td>
                            </form>
                        </tr>
                    {% endif %}

                    <div id="rounds"></div>
                </tbody>
            </table>
        </div>

        <nav aria-label="...">
            <ul class="pagination">
                <li id="prev" class="page-item">
                    <button class="page-link">
                        <span aria-hidden="true">&laquo;</span>
                    </button>
                </li>
                <li id="next" class="page-item">
                    <button class="page-link">
                        <span aria-hidden="true">&raquo;</span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div id="deleteModals"></div>

<script src="/static/js/setdate.js"></script>
<script>
    let coursesArray = [];
    for (let [id, course] of Object.entries(COURSES)) {
        coursesArray.push(course);
    }

    coursesArray.sort((a, b) => { return a.name.localeCompare(b.name); });

    let selectCourse = document.getElementById("course");

    if (selectCourse) {
        selectCourse.addEventListener("input", onCourseSelect);

        for (let course of coursesArray) {
            let courseOption = createElement({
                type: "option",
                value: course.id,
                content: course.name, //`${course.name} - ${course.teebox} (${course.rating} / ${course.slope})`
            });
            selectCourse.appendChild(courseOption);
        }
    }

    function createTeeboxElements(teeboxes) {
        let teeboxSelect = document.getElementById("teebox");
        let children = teeboxSelect.children;
        for (let i = children.length; i > 0; i--) {
            let child = children[i - 1];
            child.remove();
        }
        teeboxSelect.hidden = false;

        let teeboxesArr = Object.entries(teeboxes);

        if (teeboxesArr.length > 1) {
            let defaultOption = createElement({
                type: "option",
                value: "",
                content: "Select teebox",
                hidden: true,
                disabled: true,
                selected: true,
            });
            teeboxSelect.appendChild(defaultOption);
        }

        for (let [id, teebox] of teeboxesArr) {
            let option = createElement({
                type: "option",
                value: teebox.id,
                content: `${teebox.teebox} (${teebox.rating} / ${teebox.slope})`
            });
            teeboxSelect.appendChild(option);
        }

        console.log(teeboxes);
    }

    function onCourseSelect(event) {
        console.log(event);
        let courseId = event.target.value;
        let teeboxes = COURSES[courseId].teeboxes;
        createTeeboxElements(teeboxes);
    }


    const pagination = new Pagination(roundsArray, TOTAL_ROUNDS, CURRENT_PAGE, NUM_PAGES);
    // let visibilityToggle = document.getElementById("showHandicapToggle");
    // visibilityToggle.addEventListener("click", event => {
    //     console.log("Should show?", event.target.checked);
    //     return new Promise(function (resolve, reject) {
    //         var xmlHttp = new XMLHttpRequest();
    //         xmlHttp.open("GET", TOGGLE_VISIBILITY_URL + `?isVisible=${event.target.checked}`);
    //         xmlHttp.onload = () => {
    //             resolve(xmlHttp.response);
    //         };
    //         xmlHttp.send(null);
    //     })
    // });

</script>

{% endblock content %}