{% extends "base.html" %} {% block title %}Home{% endblock title %} {% block
viewplayers %}active{% endblock viewplayers %} {% block content %}

<script src="https://cdn.jsdelivr.net/npm/ag-grid-community@31.0.3/dist/ag-grid-community.min.js"></script>

<script>
  const PLAYERS = {{ users|tojson }};
</script>

<wa-card>
  <h2>All Players</h2>
  <div
    id="playersGrid"
    style="width: 700px; height: 900px"
    class="{% if theme == 'dark' %}ag-theme-quartz-dark{% else %}ag-theme-quartz{% endif %}"
  ></div>
</wa-card>

<script src="/static/js/viewPlayers.mjs" type="module"></script>

{% endblock content %}
