{% extends "base.html" %}

{% block title %}Home{% endblock title %}
{% block viewplayers %}active{% endblock viewplayers %}



{% block content %}

<div class="container-fluid">
    <div class="container pb-5">
        <div class="fw-bold fs-1">
            All players
        </div>
    </div>
</div>

<div class="container-fluid mb-5">
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Player</th>
                        <th scope="col">Handicap</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="name">{{ user.username }}</td>
                            <td class="handicap">{{ user.handicap }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}