{% extends "base.html" %} {% block title %}View Rounds{% endblock title %} {%
block home %}active{% endblock home %} {% block content %}

<script>
  const COURSES = {{ courses|tojson }};
  const IS_ME = "{{ is_me }}" === "True";
  const ROUNDS = {{ rounds|tojson }};
  const USER = {{ user|tojson }};

  const STATS_URL = "{{ url_for('stats_bp.get_stats_data', id=user.id) }}"
</script>

{% if is_me %}
<style>
  html {
    --nb-content-width: 1102px;
  }
</style>
{% endif %}

<nb-view-player
  rounds='{{ rounds|tojson }}'
  user='{{ user|tojson }}'
  theme="{{ theme.mode }}"
></nb-view-player>

<script src="/static/js/nb-view-player.mjs" type="module"></script>

{% endblock content %}
