{% extends "base.html" %}

{% block title %}View Rounds{% endblock title %}
{% block viewrounds %}w3-text-blue{% endblock viewrounds %}



{% block content %}

    <div class="container-fluid">
        <div class="container pb-5 pt-5">
            <div class="fw-bold fs-1">
                Your rounds
            </div>
            <div class="fw-bold fs-1">
                Your handicap is {{ handicap }}
            </div>
        </div>
    </div>
    <div class="container-fluid mb-5">
        <div class="container">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Course</th>
                            <th scope="col">Score / Par</th>
                            <th scope="col">GIR</th>
                            <th scope="col">FIR</th>
                            <th scope="col">Putts</th>
                            <th scope="col">Date</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for round in rounds %}
                            <tr>
                                <td>{{ courses[round.course_id].name }}</td>
                                <td>{{ round.score }} / {{ courses[round.course_id].par }}</td>
                                <td>{{ round.gir }}</td>
                                <td>{{ round.fir }}</td>
                                <td>{{ round.putts }}</td>
                                <td>{{ round.date.strftime("%B %d, %Y") }}</td>
                                <td>edit | delete</td>
    
                            </tr>
                        {% endfor %}
    
                        <tr>
                            <td>dropdown for course</td>
                            <td>
                                <input class="w-60p" type="number" placeholder="Score">
                            </td>
                            <td>
                                <input class="w-60p" type="number" placeholder="GIR">
                            </td>
                            <td>
                                <input class="w-60p" type="number" placeholder="FIR">
                            </td>
                            <td>
                                <input class="w-60p" type="number" placeholder="Putts">
                            </td>
                            <td>
                                <input type="date" placeholder="">
                            </td>
    
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock content %}s